body{
  margin: 0;
}

.main-container{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}

.search-icon{
  color: green;
  vertical-align: middle;
  font-size: 25px;
  cursor: pointer;
}

.input-container{
  margin: 0 auto;
  border: 1px lightgrey solid;
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
}
input{
  border: none;
  width: 90%;
}

input:focus{
  outline: none;
}

.recipe-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0;
}

.recipe-card{
  width: 180px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.recipe-card_img{
  width: 180px;
  object-fit: cover;
}

a{
  color: black;
  text-decoration: none;
}